/* INDEX */
.cajaVacia{
    width: 100%;
    height: 90px;
}
.encabezadoPrincipal {
    margin: 50px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    .flashmobGif{
        width: 400px;
        justify-self: center;
    }
    .textoPrincipal{
        color: $coral;
        text-align: center;
        font-size: 3.5vw;
        line-height: 5.5vw;
    }
}
.textoVideo{
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    height: auto;
    .tituloPrincipal {
        text-align: center;
        color: $coral;
    }
    .parrafoPrincipal {
        grid-area: parrafoPrincipal;
        text-align: justify;
        text-indent: 25px;
        iframe{
            width: 600px;
            height: 338px;
        }
        .videoPrincipal{
            float: right;
            margin-left: 15px;
        }
    }
}
.notasDiario{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px 350px;
    grid-template-areas: 
        "titulo titulo"
        "clarin lanacion";
    gap: 20px;
    .tituloDiario{
        color: $coral;
        justify-self: center;
        grid-area: titulo;
    }
    .fotoClarin{
        justify-self: center;
        width: 343px;
        margin-top: 10px;
        grid-area: clarin;
        &:hover{
            transform: scale(1.025,1.025);
        }
    }
    .fotoLanacion{
        justify-self: center;
        width: 300px;
        margin-top: 10px;
        grid-area: lanacion;
        &:hover{
            transform: scale(1.025,1.025);
        }
    }
}
/* FIN INDEX */