/* CRONOLOGIA */
.tituloPrincipal{
    margin: 30px;
    text-align: center;
    color: $coral;
}
.tituloSecundario{
    padding: 10px;
    color: $blanco;
    text-align: center;
}
table{
    width: 90%;
    margin: 0 auto;
    border: 1px $coral solid;
    th{
        background-color: $azul;
        border: 1px $coral solid;
        padding: 10px;
    }
    td{
        border: 1px $coral solid;
        padding-right: 10px;
        padding-left: 10px;
        .linkTabla{
            text-decoration: none;
            color: $blanco;
            background-color: $coral;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 20px;
            letter-spacing: 1px;
            &:hover{
                color: $coral;
                background-color: #161616;
            }
        }
    }
}