/* FOTOS */
.tituloAudiovisual{
    margin: 30px;
    font-size: 25px;
    text-align: center;
    color: $coral;
}
.galeriaFotos{
    width: 70%;
    height: 300px;
    margin: 0 auto;
    gap: 10px;
}
/* FIN FOTOS */
