@import "variables";
@media only screen and (min-width:1024px){
    @import "1024header";
    @import "1024mainIndex";
    @import "1024footer";
    @import "1024fotos";
    @import "1024videos";
    @import "1024cronologia";
    @import "1024contacto";
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
    }
    @font-face {
        font-family: LatamSans;
        src: url(Fuentes/LatamSans-Regular.otf);
    }
    body{
        background-color: #161616;
        font-family: LatamSans;
        color: $blanco;
    }
}
@media only screen and (max-width:1024px){
    @import "768header";
    @import "768mainindex";
    @import "768footer";
    @import "768fotos";
    @import "768videos";
    @import "768cronologia";
    @import "768contacto";
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
    }
    @font-face {
        font-family: LatamSans;
        src: url(Fuentes/LatamSans-Regular.otf);
    }
    body{
        background-color: #161616;
        font-family: LatamSans;
        color: $blanco;
    }
}
@media only screen and (max-width:768px){
    @import "512header";
    @import "512mainindex";
    @import "512footer";
    @import "512fotos";
    @import "512videos";
    @import "512cronologia";
    @import "512contacto";
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
    }
    @font-face {
        font-family: LatamSans;
        src: url(Fuentes/LatamSans-Regular.otf);
    }
    body{
        background-color: #161616;
        font-family: LatamSans;
        color: $blanco;
    }
}